<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfirebaseproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFirebaseProject">
        <activity
            android:name="com.example.employee.scannerView"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".TerminatedEmployee"
            android:exported="false" />
        <activity
            android:name=".EditTime"
            android:exported="false" />
        <activity
            android:name=".FeedingData"
            android:exported="false" />
        <activity
            android:name=".WeeklyPayroll"
            android:exported="false" />
        <activity
            android:name="com.example.employee.EmployeeLanding"
            android:exported="false" />
        <activity
            android:name=".SetQRCode"
            android:exported="false" />
        <activity
            android:name="com.example.employee.PayData"
            android:exported="false" />
        <activity
            android:name="com.example.employee.EmployeeChangePassword"
            android:exported="false" />
        <activity
            android:name=".Terminate"
            android:exported="true" />
        <activity
            android:name="com.example.employee.EmployeeAttendance"
            android:exported="false" />
        <activity
            android:name="com.example.employee.EmployeeClock"
            android:exported="false" />
        <activity
            android:name="com.example.employee.EmployeeProfile"
            android:exported="false" />
        <activity
            android:name="com.example.employee.EmployeeSettings"
            android:exported="false" />
        <activity
            android:name="com.example.employee.FingerprintAttendance"
            android:exported="false" />
        <activity
            android:name="com.example.employee.QRscannerAttendance"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Hire"
            android:exported="true" />
        <activity
            android:name=".EmployeeList"
            android:exported="false" />
        <activity
            android:name=".EmployerAttendance"
            android:exported="false" />
        <activity
            android:name=".EmployerProfile"
            android:exported="false" />
        <activity
            android:name=".Manage"
            android:exported="false" />
        <activity
            android:name=".Admin_Homepage"
            android:exported="false" />
        <activity
            android:name=".FingerprintScanner"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:label="@string/app_name" />
        <activity
            android:name=".ConfirmEmail"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginPageOriginal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>